**/bin/
**/obj/
**/.vs/

/Data.Objects/Data.Objects.sln

/Schemas/Schemas.sln

/Schemas/DbSchemaExtractors/DbSchemaExtractors.sln

/Schemas/Mappers/SimpleMapper
/Schemas/Mappers/SimpleMapper.sln

/Schemas/Mappers/Mappers.sln
